:host {
    display: grid;
    grid-auto-flow: row;
}

div {
    margin-top: var(--strict-size-medium, 10px);
    overflow-y: auto;
    max-height: 40vh;
    display: inherit;
}

input {
    width: 100%;
}

.hide {
    display: none;
}