form-item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

::slotted([slot='label']) {
    user-select: none;
    position: absolute;
    padding-left: calc( var(--grid-gap) * 2 );
    z-index: 1;
}

::slotted([slot='item']) {
    position: relative;
}

::slotted([slot='item'][type='range']) {
    cursor: pointer;
}

::slotted([slot='item'][type='range'])::after {
    content: attr(value);
    position: absolute;
    right: 19px;
    user-select: none;
}

::slotted([slot='item'][type='number']) {
    margin-left: 2px;
    margin-right: 2px;
    text-align: right;
}

::slotted([slot='item'][type='email']) {
    margin-left: 2px;
    margin-right: 2px;
    padding-right: 19px;
    text-align: right;
}

::slotted([slot='item'][type='radio']),
::slotted([slot='item'][type='checkbox']) {
    width: 99%;
    height: 100%;
    appearance: none;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 0px 0px 2px;
}

::slotted([slot='item'][type='radio'])::before,
::slotted([slot='item'][type='checkbox'])::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}

::slotted([slot='item'][type='radio']:checked)::before,
::slotted([slot='item'][type='checkbox']:checked)::before {
    right: 0px;
}

::slotted(button[slot="icon"]) {
    cursor: crosshair;
    border-radius: 100%;
}