label {
    font-style: italic;
    font-size: var(--font-size-small, 1rem);
}

label:hover {
    text-decoration: underline;
}

button {
    font-size: var(--font-size-small, 1rem);
}

labeled-button {
    display: grid;
    grid-template-columns: auto auto;
}
