<script type="module">
    import COMPONENT_FACTORY from '../../initializer.js';
    import NodeItem from './node-item.js';

    COMPONENT_FACTORY.register(NodeItem);
</script>

<link rel="stylesheet" href="node-item.css">

<template id="node-item">
    <article>
        <h1><slot name="title"></slot></h1>
        <footer>
            <fieldset name="input">
                <legend><slot name="input">Default</slot></legend>
                <slot name="input-list"></slot>
            </fieldset>
            <fieldset name="output">
                <legend><slot name="output">Default</slot></legend>
                <slot name="output-list"></slot>
            </fieldset>
        </footer>
    </article>
</template>

<node-item>
    <span slot="title">My component title</span>
    <p slot="input">Input</p>
    <p slot="output">Output</p>
    <div slot="input-list">
        <button id="input_1">+</button><label for="input_1">input 1</label>
        <button id="input_2">+</button><label for="input_2">input 2</label>
        <button id="input_3">+</button><label for="input_3">input 3</label>
    </div>
    <div slot="output-list">
        <label for="input_4">output 4</label><button id="input_4">+</button>
        <label for="input_5">output 5</label><button id="input_5">+</button>
        <label for="input_6">output 6</label><button id="input_6">+</button>
    </div>
</node-item>