:host {
    cursor: move;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--strict-size-small, 6px);
    border: var(--strict-size-tiny, 2px) solid black;
}

h1 {
    font-size: var(--font-size-large, 1.5rem);
    text-align: center;
}

h1::after {
    background-color: black; 
    content: '';
    display: inline-block;
    width: 80%;
    height: var(--strict-size-tiny, 2px);
    margin-top: var(--strict-size-medium, 10px);
}

footer {
    display: grid;
    grid-template-columns: auto auto;
}

footer > fieldset {
    border-width: var(--strict-size-zero, 0px);
    margin-inline-start: var(--strict-size-zero, 0px);
    margin-inline-end: var(--strict-size-zero, 0px);
    padding-inline-start: var(--strict-size-zero, 0px);
    padding-inline-end: var(--strict-size-zero, 0px);
}

footer > fieldset[name='input'] {
    text-align: left;
}

footer > fieldset[name='output'] {
    text-align: right;
}

footer > fieldset > legend {
    font-size: var(--font-size-tiny, 0.75rem);
}

footer > fieldset[name='input'] > legend {
    margin-left: var(--strict-size-medium, 10px);
}

footer > fieldset[name='output'] > legend {
    margin-right: var(--strict-size-medium, 10px);
}

::slotted(*[slot="input-list"]),
::slotted(*[slot="output-list"]) {
    display: grid;
    gap: var(--strict-size-small, 6px);
    align-items: center;
}

::slotted(*[slot="input-list"]) {
    grid-template-columns: var(--strict-size-large, 20px) auto;
}
::slotted(*[slot="output-list"]) {
    grid-template-columns: auto var(--strict-size-large, 20px);
}