<script type="module">
    import COMPONENT_FACTORY from '../../initializer.js';
    import NodeItem from './node-item.js';

    COMPONENT_FACTORY.register(NodeItem);
</script>

<link rel="stylesheet" href="node-item.css">

<template id="node-item">
    <article>
        <h1><slot name="title"></slot></h1>
        <fieldset name="input">
            <legend><slot name="input">Default</slot></legend>
            <slot name="input-list"></slot>
        </fieldset>
        <fieldset name="output">
            <legend><slot name="output">Default</slot></legend>
            <slot name="output-list"></slot>
        </fieldset>
    </article>
</template>

<node-item>
    <span slot="title">My component title</span>
    <p slot="input">Input</p>
    <p slot="output">Output</p>
    <div slot="input-list">
        <label>input 1</label>
        <label>input 2</label>
        <label>input 3</label>
    </div>
    <div slot="output-list">
        <label>output 1</label>
        <label>output 2</label>
        <label>output 3</label>
    </div>
</node-item>